<!-- All active bets in a users feed are visible on this page -->

<style>
	.btn-bet-yes {
		margin-right: 4rem;
	}
	.btn-bet-no {
		margin-left: 4rem;
	}



</style>



<% @articles.each do |article| %>
	<div class="row">
		<div class="betbox col-md-12 text-center article-<%= article.id %>">
			<a style="font-size: 65px; text-decoration: none" href="/articles/<%= article.id %>"><%= article.title %></a>
			<div data-id="<%= article.id %>" data-timer="<%= article.time_to_expiration - (DateTime.current.to_i - article.created_at.to_i) %>" class="timer" style="width: 200px; height: 80px;"></div>
			<hr>

			<div class="row">
				<div class="col-md-2 col-md-offset-2">
					<button class="btn btn-success btn-bet-yes" data-id="<%= article.id %>">
						Yes, bet $<%= article.min_bet %>
					</button>
				</div>
				<div class="col-md-4">
					<img class="vote-banner" src="http://jeffmeyerson.com/wp-content/uploads/2014/05/<%= article.topic %>">
				</div>

				<div class="col-md-2">
					<button class="btn btn-danger btn-bet-no" data-id="<%= article.id %>">No, bet $<%= article.min_bet %></button>
				</div>
			</div>

			<h1>Total Bets</h1>
			<h1 class="total-<%= article.id %>">$<%= article.total_bets %></h1>
		</div>
	</div>
<% end %>

<script>

	$(function() {
		$('.btn-bet-yes').click(function() {
			$.ajax({
				url:  "articles/" + $(this).data('id') + '/bet_yes',
				type: 'POST',
				data: {
					article_id: $(this).data('id'),
					active_user_id: <%= current_user.id %>
				},
				dataType: 'json',
				accepts: 'json',
				success: function(data, status) {
					console.log('success');
					console.log(data);
					$('.total-' + data.id).html("$" + data.total_bets);
					$('#user_balance').html("$ <%= current_user.balance %>");
				},
				error: function(jqXHR, status, error) {
					console.log('error');
					console.log(error);
				}
			});
		});

		$('.btn-bet-no').click(function() {
			$.ajax({
				url: "articles/" + $(this).data('id') + '/bet_no',
				type: 'POST',
				data: {
					article_id: $(this).data('id'),
					active_user_id: <%= current_user.id %>
				},
				dataType: 'json',
				accepts: 'json',
				success: function(data, status) {
					console.log('success');
					console.log(data);
					$('.total-' + data.id).html("$" + data.total_bets);
				},
				error: function(jqXHR, status, error) {
					console.log('error');
					console.log(error);
				}
			});
		});

		$(".timer").TimeCircles({count_past_zero: false, time: { Days: { show: false }, Hours: { show: false } }});

		$(setInterval("check_expiration_async()", 2000));
	});
</script>

