<!-- TODO pretty sure this is all deprecated; moved to application.html.erb -->
<%= form_for :article, url: articles_path, html: {role: "form", class: "form-horizontal"} do |f| %>
	<%= hidden_field_tag :creator_id, current_user.id %>
	<br>
	<div class="form-group">
		<%= f.label :title, :class => "col-sm-2 control-label"%>
		<div class="col-sm-5 no-padding">
			<%= f.text_field :title, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :min_bet, :class => "col-sm-2 control-label"%>
		<div class="col-sm-2 no-padding">
			<%= f.text_field :min_bet, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :time_to_expiration, :class => "col-sm-3 control-label" %>
		<div class="col-sm-2 no-padding">
			<%= f.select :time_to_expiration, options_for_select([["1 second", 1],["10 seconds", 10],["1 minute", 60], ["10 minutes", 600]]), {}, {:class => 'form-control'}%>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :topic, :class => "col-sm-3 control-label" %>
		<div class="col-sm-2 no-padding">
			<%= f.select :topic, options_for_select([["---------", "/money.jpg"],["News", "/news.jpg"],["History", "/history.jpg"],["The Internet", "/internet.jpg"],["Food", "/food.jpg"],["Literature", "/literature.jpg"],["Silicon Valley", "/success.jpg"],["Movies", "/hollywood.jpg"],["Music", "/music.jpg"],["Business", "/business.jpg"],["Sports", "/curling.jpg"],["Jeff Bezos", "/bezos.jpg"], ["Lemurs", "/lemurs.jpg"]]), {}, {:class => 'form-control'}%>
		</div>
	</div>

	<%= f.submit "Save article", :class => "btn btn-primary"%>
<% end %>

<%= link_to 'Back', articles_path %>