<div class="row">
  <div class="betbox col-md-12 text-center">
    <h1><%= @article.title %></h1>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-success" style="margin-right: 4rem;">Yes, bet $1</button>
        <img class="vote-banner" src="/assets/spiderman.jpg">
        <button type="button" class="btn btn-danger" style="margin-left: 4rem;">No, bet $1</button>
      </div>
    </div>
    <h1 class="total"><%= @article.text %></h1>
  </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>