<!-- This page shows a single bet, and all its details (potentially comments/forum) -->
<div class="row">
	<div class="betbox col-md-12 text-center article-<%= @article.id %>">
		<h1><%= @article.title %></h1>

		<div data-timer=<%= @article.time_to_expiration - (DateTime.current.to_i - @article.created_at.to_i) %> class="timer" id="CountDownTimer" style="width: 200px; height: 80px;"></div>
		<hr>

		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<button class="btn btn-success btn-bet-yes" data-id="<%= @article.id %>">
					Yes, bet $<%= @article.min_bet %>
				</button>
			</div>

			<div class="col-md-4">
				<img class="vote-banner" src="http://jeffmeyerson.com/wp-content/uploads/2014/05/<%= @article.topic %>">
			</div>

			<div class="col-md-2">
				<div class="col-md-2">
					<button class="btn btn-danger btn-bet-no" data-id="<%= @article.id %>">No, bet $<%= @article.min_bet %></button>
				</div>
			</div>

			<h1>Total Bets</h1>
			<h1 class="total-<%= @article.id %>">$<%= @article.total_bets %></h1>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$('.btn-bet-yes').click(function() {
				$.ajax({
					url:   $(this).data('id') + '/bet_yes',
					type: 'POST',
					data: {
						article_id: $(this).data('id'),
						active_user_id: <%= current_user.id %>
					},
					dataType: 'json',
					accepts: 'json',
					success: function(data, status) {
						console.log('success');
						console.log(data);
						$('.total-' + data.id).html("$" + data.total_bets);
					},
					error: function(jqXHR, status, error) {
						console.log('error');
						console.log(error);
					}
				});
			});

			$('.btn-bet-no').click(function() {
				$.ajax({
					url: $(this).data('id') + '/bet_no',
					type: 'POST',
					data: {
						article_id: $(this).data('id'),
						active_user_id: <%= current_user.id %>
					},
					dataType: 'json',
					accepts: 'json',
					success: function(data, status) {
						console.log('success');
						console.log(data);
						$('.total-' + data.id).html("$" + data.total_bets);
					},
					error: function(jqXHR, status, error) {
						console.log('error');
						console.log(error);
					}
				});
			});

			$(".timer").TimeCircles({count_past_zero: false, time: { Days: { show: false }, Hours: { show: false } }});

			$(setInterval("check_expiration_async()", 2000));
		});

	</script>

</div>
