<!DOCTYPE html>
<html>
<head>
  <title>Escrow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <style>
      img.avatar {
          width: 100px;
          height: 100px;
          border-radius: 5px;
      }
      input.search {
          width: 100%;
          border-radius: 10px;
          margin-top: 5rem;
      }
      .betbox {
          border: 1px solid black;
          margin-top: 2rem;
      }
      img.vote-banner {
          width: 100px;
          height: 100px;
          border-radius: 5px;
      }
      h1.total {
          color: green;
      }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <!-- Left status -->
    <div class="col-md-2">
      <h1>Escrow</h1>
      <p>Whichever side bets more wins.</p>
      <p class="text-center"><img class="avatar" src="/assets/avatar.jpg"></p>
      <p class="text-center">Will</p>
      <h2 class="text-center">$666.66</h2>
    </div>
    <div class="col-md-6">
      <div class="row">
        <input class="search" type="text">
      </div>
    </div>
    <div class="col-md-2 text-center">
      <br>
      <p><a href="#">Home</a></p>
      <p><a href="#">Will</a></p>
      <button type="button" class="btn btn-default">Make a bet</button>
    </div>
  </div>
</div>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>

</body>
</html>
