<!DOCTYPE html>
<html>
<head>
  <title>Escrow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <style>
      img.avatar {
          width: 100px;
          height: 100px;
          border-radius: 5px;
      }
      input.search {
          width: 100%;
          border-radius: 10px;
          margin-top: 5rem;
      }
      .betbox {
          border: 1px solid black;
          margin-top: 2rem;
      }
      img.vote-banner {
          width: 100px;
          height: 100px;
          border-radius: 5px;
      }
      h1.total {
          color: green;
      }
  </style>
</head>
<body>


 <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header" style="float:left; width:150px;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Escrow</a>
        </div>
        
        <div class="navbar-collapse collapse" style="float:right;">
        	<div id="search" style="float:left; padding-top:8px; width:300px; padding-right:80px;">
        		<input class="form-control" type="text" placeholder="search">
        	</div>
        	
          <!--<ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>-->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Home</a></li>
            <li><%= button_to "Make a bet", new_article_path, {class: "btn btn-default", id: "make_bet", :method => :get} %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <!--<div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>-->


		<!--<div class="row">
	    	<div class="col-md-2">
	      		
	      		<p>Whichever side bets more wins.</p>
	      		<p class="text-center"><img class="avatar" src="/assets/avatar.jpg"></p>
	      		<p class="text-center">Will</p>
	      		<h2 class="text-center">$666.66</h2>
	    	</div>
		    
		</div>
		-->
		
		
		
		<div>
		  <% if user_signed_in? %>
		  <div class="navbar-text pull-right"> 
		  	Logged in as <strong><%= current_user.email %></strong>.
		      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		  </div>
		  
		  
		  <div class="row">
			<div class="col-lg-3" style="padding-top:50px;">
			  <p class="text-center"><img class="avatar" src="/assets/avatar.jpg"></p>
				<p class="text-center">Will</p>
			</div>
        
			<div class="col-lg-9">
				<div class="main-content">
			  	<%= yield %>
			  </div>
		   </div>
			
		</div>
		  
		     
		  <% else %>
		  	<div class="navbar-text pull-right"> 
			      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		      </div>
		      <%= yield %>
		  <% end %>
		
		    <% if notice %>
		        <p class="alert alert-success"><%= notice %></p>
		    <% end %>
		    <% if alert %>
		        <p class="alert alert-danger"><%= alert %></p>
		    <% end %>
		</div>
		
		<br /><br />
		
		
    </div> <!-- /container -->

</body>
</html>
